/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* My Start */

html {
  /* Base styles go here */
  font: 14px/1.5 Arial, sans-serif;
 }

body {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  color: #bbb;
  background-color: #222;
  display: grid;
  grid-template-columns: 1;
}

#app {
  grid-column-start: 1;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 20% 5% 55% 10%;
}

.col-2-5 {
  grid-column: 2 / 5;
  grid-row-start: 1;
  height: 100%;
  width: 100%;
}

.deckContainer {
  max-height: 1050px;
  height: auto;
  width: 100%;
}

.deckStats {
  height: auto;
  width: 100%;
}

.displayName, .editName {
  font-size: 80px;
  margin-left: 2%;
  margin-right: 2%;
  max-height: 120px;
}

.editName {
  position: relative;
  width: 96%;
  background-color: #222;
  color:#bbb;
  padding: 0;
  border: none;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.playTestBtn, .importBtn {
  padding: .5%;
  margin-left: 2%;
  font-size: large;
}

.importBtn {
  margin-left: 0;
  margin-right: 2%;
}

.displayName:hover, .playTestBtn:hover, .importBtn:hover {
  color: thistle;
  cursor: pointer;
}

/* Search Cards */

.row-2 {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 370px;
  width: 100%;
  display: flex;
  margin-right: 12%;
  justify-content: flex-end;
}
.search {
  width: 100%;
}

.wrapper .search-input{
  background: #333;
  color: #bbb;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  font-size: large;
}

.search-input input{
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.autocom-box {
  position: absolute;
  background-color: #333;
  max-width: 307px;
  width: 100%;
}

.autocom-box li{
  list-style: none;
  padding: 2px 5px;
  width: 100%;
  cursor: default;
  border-radius: 3px;

}

.autocom-box li:hover{
  background: #efefef;
  color: #333;
}

/* Import View */

.importWrapper {
  position: absolute;
  height: 100%;
  width: 30%;
  top: 5%;
  left: 5%;
  font-size: large;
}

.import {
  display: block;
  height: 80%;
  width: 100%;
  resize: none;
}

/* Deck View */
.row-3 {
  margin-top: 1%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: thistle;
}

.row-4 {
  margin-top: 1%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pictureBox {
  height: 375px;
}

.media {
  height: 100%;
  border-radius: 5%;
}

.deckview {
  border: 2px solid #333;
  width: 80%;
  /* margin-left: 2%; */
  /* max-height: 800px; */
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.deckview-columns {
  width: 90%;
  column-count: 4;
}

.deckview-columns {
  page-break-inside: avoid;
  break-inside: avoid;
}

table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  page-break-inside: avoid;
  break-inside: avoid;
}

.options {
  transform: translate(100%, -150%);
  position: absolute;
  background-color: #333;

}


/* Footer */

.footer {
  height: 80px;
  width: 100%;
  bottom: 0px;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #FF5F1F;
}

.footer span {
  position: absolute;
  bottom: 50px;
}

td {
  border-bottom: 1px solid #333;
}